body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* top header starts */
.top-header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .img-header {
    width: 24%;
    height: auto;
    padding-left: 210px;
  }
  
  .search {
    display: flex;
    align-items: center;
    padding-right: 300px;
  }
  
  .searchTerm {
    width: 500px;
    border: 1px solid #dfdfdf;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-weight: 500;
    margin: 0; /* Add this to remove any default margin */
  }
  
  .searchTerm:focus {
    background-color: #fff;
  }
  .searchTerm::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.7; /* Adjust the opacity value to make the text appear lighter */
  }
  
  .searchButton {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    height: 47px;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .searchButton i {
    color: #9DBFAF;
  }
  
  .login-signup {
    margin-left: 10px;
  }
  
  .loginButton,
.signupButton {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: right;
    vertical-align: middle;
    font-weight: 300;
    color: rgb(105, 105, 105);
    cursor: pointer;
    border-radius: 0.6rem;
    padding: 0.5rem !important;
    margin-left: 20px;

}
  

/* top header starts */

/* second header starts */

.second-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 33%;
    
  }
  
  .second-header-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 8px;
    background-color: #f5f5f5;

  }
  
  .second-header-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  hr{
    margin-top: 20px;
    height: 1px;
    background-color: #eaeaea;
    border: none;
}

/* second header ends */

/* Filter section starts */

.filter-section {
  
    margin-top: 22px;
    margin-left: 12%;
  }
  
  .filter-button {
    background-color: #ffffff;
    color: #9C9C9C;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 400;
 
    transition: background-color 0.3s;
    
  }
  
  .filter-button:hover {
    background-color: #f5f5f5;
    border-color: #cccccc;
  }
  


/* Filter section ends */


/* Main sub heading starts */

.main-sub-headings{
    color: rgb(28, 28, 28); 
    font-size: 1.9rem; 
    font-weight: 400; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 70px;
    margin-left: 13%;
}

/* main sub headings endss */


/* highlight-food-section starts*/

.highlight-food-section {
    width: 100%;
    height: 350px;
    background-color: #f8f8f8;
    margin-top: 20px;
    
  }
  
  .highlight-food-img {
   
    
    margin-left: 13%;
    float: left;
  
  }
  
  .highlight-food-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  /* -------------------------------- */
  .highlight-food-img-next {
   
 
    float: left;
    
  
  }
  
  .highlight-food-img-next img {
    margin-left: 40px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    
  }
/* highlight food section ends */

/* item-names starts */
.item-names{
    color: rgb(54, 54, 54);
    font-size: 1.4rem;
   
    font-weight: 500;
    text-align: center;
    padding-right: 1.6rem;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1px;
}

/* items name ends */


/* Delivery restaurants starts */

.article-wrapper {
    width: 250px;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: 4px solid transparent;
    cursor: pointer;
    background-color: white;
  }
  

  .rounded-lg {
    border-radius: 10px;
  }

  
  .container-project {
    width: 100%;
    height: 170px;
    background: gray;
  }

  /* Delivery Restaurants ends */

  /* Restaurants list starts */

  .restaurant-list {
    margin-left: 200px;
    display: flex;
   
  }
  
  .article-wrapper {
    flex: 0 0 auto;
  }
  

  .product-names{
    line-height: 1.2;
    margin-block-end: 0px;
    font-weight: 500;
    text-align: left;
    font-size: 1.1rem;
    margin: 0.8rem 0px 0.6rem;
    max-width: 80%;
    color: rgb(28, 28, 28);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .product-types{
      color: #9C9C9C; 
     
      font-family: Okra, Helvetica, sans-serif; 
      font-weight: lighter;
    font-size: 0.8rem;
  }

  
  /* Restaurants list ends */


  /* footer starts */
  

  /* footer ends */